<!doctype html>

<html>

  <head>
    <title>Bananarama</title>
    <link rel='icon' href='images/favicon.ico' type='image/x-icon'>
    <link rel='stylesheet' type='text/css' href='css/styles.css'>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>

    <!-- removeIf(production) -->
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <!-- endRemoveIf(production) -->

    <!-- Firebase -->
    {% include 'components/util/firebase.html' %}

  </head>

  <body>

    <!-- Icons -->
    {% include 'components/util/icon-sprite.html' %}

    <!-- Header -->
    {% include 'components/header/header-layout.html' %}

    <!-- Content -->
    {% block content %}{% endblock %}

  </body>

</html>
