<!doctype html>

<html>

  <head>
    <title>Space Jamz</title>
    <link href='#' rel='shortcut icon'>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>

    <!--build:css css/styles.min.css-->
    <link rel='stylesheet' type='text/css' href='css/styles.css'>
    <link rel='stylesheet' type='text/css' href='css/lib-styles.css'>
    <!--endbuild-->

    <!-- removeIf(production) -->
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <!-- endRemoveIf(production) -->
  </head>

  <body>

    <!-- Layout -->
    {% block content %}{% endblock %}

    <!-- removeIf(production) -->
    <script src='js/jspm_packages/system.js'></script>
    <script src='js/config.js'></script>
    <script type='text/javascript'>
      System.import('js/main');
    </script>
    <!-- endRemoveIf(production) -->

    <!-- Class mapper -->
    <script class="class-mapper">
      let data;
      $.getJSON("data/home.json", function(response) {
        let data = response;
      }).done(function(data) {
        let json = data;
        let template_file = json["template-file"];
        function PageInit(ClassMapper) {ClassMapper(template_file);}

        System.import("js/Main").then(function(){ PageInit(ClassMapper)});
      });
    </script>

  </body>

</html>
