<script src='https://www.gstatic.com/firebasejs/3.6.4/firebase.js'></script>
<script src="https://www.gstatic.com/firebasejs/3.6.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.6.2/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.6.2/firebase-database.js"></script>

<script>
  var config = {
    apiKey: 'AIzaSyB4lcfOssI4MMV0MtH_ZOigsO5SLk60BzE',
    authDomain: 'bananarama-7310b.firebaseapp.com',
    databaseURL: "https://bananarama-7310b.firebaseio.com",
    storageBucket: 'bananarama-7310b.appspot.com',
    messagingSenderId: "1056458197296"
  };
  firebase.initializeApp(config);
</script>
